@keyframes fadeInFromCenter {
  0% {
    height: 50vh;
  }
  100% {
    height: 100vh;
  }
}

@keyframes moveInFromBottom {
  0% {
    transform: translateY(2rem);
    margin-bottom: -1rem;
  }

  100% {
    transform: translateY(0rem);
    margin-bottom: -1rem;
  }
}

@keyframes backgroundOut {
  0% {
    background-color: $color-white;
  }

  0% {
    background-color: transparent;
  }

  100% {
    color: $color-white;
    background-color: transparent;
  }
}